{% spaceless %}
<meta charset="UTF-8">
<title>

{%- if page_title is not empty -%}
    {{- page_title | raw -}}
{%- else -%}
    {{- title | raw -}}
{%- endif -%}

</title>
<meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
<link rel="apple-touch-icon" sizes="57x57" href="{{- asset('bundles/symfonianindonesiaadmin/img/apple-icon-57x57.png') -}}">
<link rel="apple-touch-icon" sizes="60x60" href="{{- asset('bundles/symfonianindonesiaadmin/img/apple-icon-60x60.png') -}}">
<link rel="apple-touch-icon" sizes="72x72" href="{{- asset('bundles/symfonianindonesiaadmin/img/apple-icon-72x72.png') -}}">
<link rel="apple-touch-icon" sizes="76x76" href="{{- asset('bundles/symfonianindonesiaadmin/img/apple-icon-76x76.png') -}}">
<link rel="apple-touch-icon" sizes="114x114" href="{{- asset('bundles/symfonianindonesiaadmin/img/apple-icon-114x114.png') -}}">
<link rel="apple-touch-icon" sizes="120x120" href="{{- asset('bundles/symfonianindonesiaadmin/img/apple-icon-120x120.png') -}}">
<link rel="apple-touch-icon" sizes="144x144" href="{{- asset('bundles/symfonianindonesiaadmin/img/apple-icon-144x144.png') -}}">
<link rel="apple-touch-icon" sizes="152x152" href="{{- asset('bundles/symfonianindonesiaadmin/img/apple-icon-152x152.png') -}}">
<link rel="apple-touch-icon" sizes="180x180" href="{{- asset('bundles/symfonianindonesiaadmin/img/apple-icon-180x180.png') -}}">
<link rel="icon" type="image/png" sizes="192x192"  href="{{- asset('bundles/symfonianindonesiaadmin/img/android-icon-192x192.png') -}}">
<link rel="icon" type="image/png" sizes="32x32" href="{{- asset('bundles/symfonianindonesiaadmin/img/apple-icon-72x72.png') -}}">
<link rel="icon" type="image/png" sizes="96x96" href="{{- asset('bundles/symfonianindonesiaadmin/img/apple-icon-114x114.png') -}}">
<link rel="icon" type="image/png" sizes="16x16" href="{{- asset('bundles/symfonianindonesiaadmin/img/apple-icon-72x72.png') -}}">
<link rel="manifest" href="{{- asset('bundles/symfonianindonesiaadmin/img/manifest.json') -}}">
<meta name="msapplication-TileImage" content="{{- asset('bundles/symfonianindonesiaadmin/img/ms-icon-144x144.png') -}}">

{%- stylesheets
    'bundles/symfonianindonesiaadmin/css/bootstrap.min.css'
    'bundles/symfonianindonesiaadmin/css/AdminLTE.min.css'
    'bundles/symfonianindonesiaadmin/css/skins/skin-green.min.css'
    'bundles/symfonianindonesiaadmin/css/style.css'
-%}
    <link rel="stylesheet" href="{{- asset_url -}}" />
{%- endstylesheets -%}

{%- if use_date_picker is not empty -%}
    <link rel="stylesheet" href="{{- asset('bundles/symfonianindonesiaadmin/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css') -}}" />
{%- endif -%}

{%- if use_editor is not empty -%}
    <link rel="stylesheet" href="{{- asset('bundles/symfonianindonesiaadmin/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css') -}}" />
{%- endif -%}

{%- if use_autocomplete is not empty -%}
    <link rel="stylesheet" href="{{- asset('bundles/symfonianindonesiaadmin/plugins/select2/css/select2.min.css') -}}" />
{%- endif -%}

{%- if css is not empty -%}
    {{- css | raw -}}
{%- endif -%}

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<link href="http://code.ionicframework.com/ionicons/2.0.0/css/ionicons.min.css" rel="stylesheet" type="text/css" />
<!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
<![endif]-->
{% endspaceless %}