{%- extends 'SymfonianIndonesiaAdminBundle::layout.html.twig' -%}

{% block css %}
    <link rel="stylesheet" href="{{- asset('bundles/symfonianindonesiaadmin/css/bootstrap-toggle.min.css') -}}" />
{% endblock %}

{%- block breadcrumb -%}
    <li><a href="#" class="active">{{- page_title | upper -}}</a></li>
    <li><a href="#" class="active">{{- (action_method ~ ' ' ~ page_title) | upper -}}</a></li>
{%- endblock -%}

{%- block page_title -%}
    {{- page_title -}}
{%- endblock -%}

{%- block page_description -%}
    {{- page_description -}}
{%- endblock -%}

{%- block menu -%}
    {{- knp_menu_render(menu, { currentClass: 'active', 'allow_safe_labels': true }) -}}
{%- endblock -%}

{%- block content -%}
    {% spaceless %}
        <div class="col-md-12 col-lg-12 col-sm-12">
            <div class="box box-success box-solid">
                <div class="box-body with-border table-responsive padding-7">
                    {% set header = [] %}
                    {% set fieldList = [] %}
                    {% for field in form.children %}
                        {% set fieldName = field.vars.name %}
                        {% if field.vars.name is not sameas('_token') %}
                            {% set header = header | merge([field]) %}
                            {% set fieldList = fieldList | merge([field]) %}
                        {% endif %}
                    {% endfor %}
                    <table class="table table-hover table-bordered">
                        <thead>
                        <tr>
                            <th class="text-center">No</th>
                            {% for value in header %}
                                <th class="text-center">{{- form_label(value) -}}</th>
                            {% endfor %}
                            <th class="text-center">{{- 'entity.fields.action' | trans({}, translation_domain) -}}</th>
                        </tr>
                        <tr>
                            {{- form_start(form) -}}
                            <th class="text-center">#</th>
                            {% for value in fieldList %}
                                <th class="text-center text-plain">{{- form_widget(value) -}}</th>
                            {% endfor %}
                            <th class="text-center">
                                <button type="submit" class="btn btn-block btn-primary save">{{ 'action.submit' | trans({}, translation_domain) }}</button>
                            </th>
                            {{- form_end(form) -}}
                        </tr>
                        </thead>
                        <tbody class="bulk-record"></tbody>
                    </table>
                </div>
                <div class="box-footer">
                    <button type="submit" class="btn btn-block btn-success">{{ 'action.submit_all' | trans({}, translation_domain) }}</button>
                </div>
            </div>
        </div>
    {% endspaceless %}
{%- endblock -%}

{%- block javascript -%}
    {% spaceless %}
        <script src="{{- asset('bundles/symfonianindonesiaadmin/js/bootstrap-toggle.min.js') -}}" type="text/javascript"></script>
        <script type="text/javascript">
            jQuery(document).ready(function () {
                jQuery('.sfid-toggle').bootstrapToggle();
                if (null === localStorage.getItem('form')) {
                    localStorage.setItem('form', JSON.stringify([]));
                }
                renderTable();

                jQuery('form').submit(function (e) {
                    e.preventDefault();
                    var formData = jQuery(this).serializeArray();
                    save(formData);
                    renderTable();
                });

                function save(formData) {
                    var storedData = JSON.parse(localStorage.getItem('form'));
                    localStorage.setItem('form', JSON.stringify(storedData.concat([formData])));
                }

                function renderTable() {
                    var storedData = JSON.parse(localStorage.getItem('form'));
                    var table = '';
                    storedData.forEach(function (formData, key) {
                        table = table + '<tr><td class="text-center">' + (key + 1) + '</td>';
                        formData.forEach(function (data) {
                            if (-1 === data.name.indexOf('_token')) {
                                table = table + '<td>' + data.value + '</td>';
                            }
                        });
                        table = table + '<td class="text-center"><button data-id="' + key + '" class="btn btn-danger delete-record">{{- 'action.delete' | trans({}, translation_domain) -}}</button></td></tr>';
                    });

                    jQuery('.bulk-record').html(table);
                }
            });
        </script>
    {% endspaceless %}
{%- endblock -%}