{%- extends 'SymfonianIndonesiaAdminBundle::layout.html.twig' -%}

{%- form_theme form form_theme -%}

{%- block breadcrumb -%}
    <li><a href="#" class="active">{{- page_title | upper -}}</a></li>
    <li><a href="#" class="active">{{- (action_method ~ ' ' ~ page_title) | upper -}}</a></li>
{%- endblock -%}

{%- block page_title -%}
    {{- page_title -}}
{%- endblock -%}

{%- block page_description -%}
    {{- page_description -}}
{%- endblock -%}

{%- block date_picker -%}
    {{- use_date_picker -}}
{%- endblock -%}

{%- block date_picker_format -%}
    {{- date_picker_format -}}
{%- endblock -%}

{%- block file_style -%}
    {{- use_file_style -}}
{%- endblock -%}

{%- block editor -%}
    {{- use_editor -}}
{%- endblock -%}

{%- block numeric -%}
    {{- use_numeric -}}
{%- endblock -%}

{%- block autocomplete -%}
    {{- autocomplete['route'] -}}
{%- endblock -%}

{%- block menu -%}
    {{- knp_menu_render(menu, { currentClass: 'active', 'allow_safe_labels': true }) -}}
{%- endblock -%}

{%- block content -%}
    {% spaceless %}
    {%- if success is defined -%}
        <div class="modal modal-success success-message">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">{{- 'message.info' | trans({}, 'SymfonianIndonesiaAdminBundle') -}}</h4>
                    </div>
                    <div class="modal-body">
                        {{- success -}}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary add_new pull-left" data-dismiss="modal">{{- 'action.add' | trans({}, 'SymfonianIndonesiaAdminBundle') -}}</button>
                        <button type="button" class="btn btn-primary success-close pull-left" data-dismiss="modal">{{- 'action.close' | trans({}, 'SymfonianIndonesiaAdminBundle') -}}</button>
                    </div>
                </div>
            </div>
        </div>
    {%- endif -%}

    {%- if errors is defined -%}
        <div class="modal modal-warning error-message">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">{{- 'message.info' | trans({}, 'SymfonianIndonesiaAdminBundle') -}}</h4>
                    </div>
                    <div class="modal-body">
                        {{- 'message.error' | trans({}, 'SymfonianIndonesiaAdminBundle') -}}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger pull-left" data-dismiss="modal">{{- 'action.close' | trans({}, 'SymfonianIndonesiaAdminBundle') -}}</button>
                    </div>
                </div>
            </div>
        </div>
    {%- endif -%}

    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="box box-success box-solid">
            <div class="box-header">
                <a href="#" class="btn btn-primary pull-right back-to-list">{{- 'action.back_to_list' | trans({}, 'SymfonianIndonesiaAdminBundle') -}}</a>
            </div>
            <div class="box-body">
                {{- form_start(form, {attr: { role: 'form' }}) -}}
                    <div class="box-body with-border">
                        {%- for field in form.children -%}
                            {{- form_row(field) -}}
                        {%- endfor -%}
                    </div>
                {{- form_end(form) -}}
            </div>
        </div>
    </div>
    {% endspaceless %}
{%- endblock -%}

{%- block javascript -%}
    {%- if success is defined -%}
        <script type="text/javascript">
            jQuery(document).ready(function () {
                jQuery('.success-message').modal({
                    backdrop: 'static'
                });
            });
        </script>
    {%- endif -%}

    {%- if errors is defined -%}
        <script type="text/javascript">
            jQuery(document).ready(function () {
                jQuery('.error-message').modal({
                    backdrop: 'static'
                });
            });
        </script>
    {%- endif -%}
    <script type="text/javascript">
        function createActionUrl(action) {
            var url = document.URL.split('/');
            var queryString = document.URL.slice(document.URL.indexOf('?'));

            if ('edit' === url[url.length - 2]) {
                url.splice(-3,3);
            } else {
                url.splice(-2,2);
            }

            url.push(action);

            window.location = url.join('/') + queryString;
        }

        jQuery(document).ready(function () {
            jQuery(document).on('click', '.back-to-list', function () {
                createActionUrl('list');
            });

            jQuery(document).on('click', '.add_new', function () {
                createActionUrl('new');
            });

            jQuery(document).on('click', '.success-close', function () {
                jQuery('.back-to-list').trigger('click');
            });

            {%- if use_date_picker is same as(true) -%}
                jQuery('.datepicker').datepicker({
                    format: '{{- date_picker_format -}}',
                    autoclose: true
                });
            {%- endif -%}

            {%- if use_file_style is same as(true) -%}
                jQuery(':file').filestyle({input: false});
            {%- endif -%}

            {%- if use_editor is same as(true) -%}
                jQuery('.editor').wysihtml5();
            {%- endif -%}

            {% if use_numeric is same as(true) %}
                jQuery('.numeric').numeric();
                jQuery('.positive').numeric({ negative: false });
            {% endif %}

            {%- if autocomplete is not empty -%}
                jQuery('.autocomplete').select2({
                    ajax: {
                        url: Routing.generate('{{- autocomplete['route'] -}}'),
                        dataType: 'json',
                        delay: 250,
                        data: function (params) {
                            return {
                                query: params.term
                            };
                        },
                        processResults: function (data, page) {
                            return {
                                results: data
                            };
                        },
                        cache: true
                    }
                });
                jQuery(document).on('select2:select', '.autocomplete', function (e) {
                    jQuery('{{- autocomplete['value_storage_selector']-}}').val(e.params.data.id);
                });
            {%- endif -%}
        });
    </script>
    {%- if include_javascript is defined -%}
        {%- include include_javascript with { route: include_route } -%}
    {%- endif -%}
{%- endblock -%}
